<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title></title>
        <!-- links -->
        <link rel="stylesheet" href="../CSS/index.css" />
        <link rel="stylesheet" href="../CSS/section/header.css" />
        <link rel="stylesheet" href="../CSS/components/buttons.css" />
        <link rel="stylesheet" href="../CSS/section/quiz.css" />
        <!-- scripts -->
        <script
            defer
            src="https://kit.fontawesome.com/267e7db5be.js"
            crossorigin="anonymous"
        ></script>
        <script defer src="../JS/index.js"></script>
        <script defer src="../../controller/displayQuizController.js"></script>
        <script defer src="../JS/quiz.js"></script>
        <script defer src="../../controller/answerController.js"></script>
        <script>
            window.addEventListener("load", () => {
                const loader_wrapper =
                    document.querySelector(".loader__wrapper");
                loader_wrapper.classList.add("visible");
                setTimeout(() => {
                    loader_wrapper.classList.remove("visible");
                    loader_wrapper.classList.add("hidden");
                }, 3000);
            });
        </script>
    </head>
    <body>
        <header class="header header--dark header--light flex f-sb f-ac">
            <div class="header__nav flex f-ac">
                <h1 class="header__logo">
                    <a href="/src/index.html">QuizBee</a>
                </h1>
                <div class="header__menu flex f-c f-se f-ac">
                    <span class="menu__bar"></span>
                    <span class="menu__bar"></span>
                    <span class="menu__bar"></span>
                </div>
                <nav class="nav">
                    <div class="nav__links">
                        <a id="random__btn" href="">Random</a>
                        <a id="create__btn" href="">Create</a>
                        <a id="explore__btn" href="">Explore</a>
                    </div>
                </nav>
            </div>
            <!-- todo fix large account -->
            <div class="header__account flex f-jc f-ac">
                <i class="fas fa-user"></i>
            </div>
        </header>
        <section class="quiz quiz--dark flex f-c f-jc f-ac">
            <div class="quiz__header flex f-jc f-ac">
                <p>
                    Question <span class="quiz__remaining"></span> out of
                    <span class="quiz__total"></span>
                </p>
            </div>
            <div class="quiz__body">
                <div class="quiz__body--header flex f-jc f-ac">
                    <p>Question: <span class="quiz__body--question"></span></p>
                </div>
                <div class="quiz__body--container grid">
                    <!-- TODO remove options afterwards -->
                    <!-- <label class="options_label">
                        <input type="radio" name="options" class="radio__btn">
                        <div class="options">
                            <p class="options_answer"><span class="letter">a.</span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis possimus pariatur odio quidem dolor quasi rem, eum, libero deserunt temporibus vel facere reprehenderit, iste repellat recusandae perspiciatis tempora nobis corrupti!</p>
                        </div>
                </label> -->
                </div>
                <button id="quit_quiz_btn">Quit</button>
                <button id="next_question_btn">Next</button>
            </div>
        </section>
        <div class="loader__wrapper">
            <i class="fas fa-spinner fa-3x"></i>
        </div>
    </body>
</html>
