<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <!-- links -->
    <link rel="stylesheet" href="../CSS/index.css">
    <link rel="stylesheet" href="../CSS/section/header.css">
    <link rel="stylesheet" href="../CSS/section/quiz.css">
    <!-- scripts -->
    <script src="https://kit.fontawesome.com/267e7db5be.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="header header--dark header--light flex f-sb f-ac">
        <div class="header__nav flex f-ac">
            <h1 class="header__logo"><a href="index.html">QuizBee</a></h1>
            <div class="header__menu flex f-c f-se f-ac">
                <span class="menu__bar"></span>
                <span class="menu__bar"></span>
                <span class="menu__bar"></span>
            </div>
            <nav class="nav">
                <div class="nav__links">
                    <a id="random__btn" href="">Random</a>
                    <a id="create__btn" href="">Create</a>
                    <a id="explore__btn" href="">Explore</a>
                </div>
            </nav>
        </div>
        <!-- todo fix large account -->
        <div class="header__account flex f-jc f-ac">
            <i class="fas fa-user fa-2x"></i>
        </div>
    </header>
    <section class="quiz quiz--dark">
        <div class="quiz__header flex f-jc f-ac">
            <p>Question <span class="quiz__remaining"></span> out of <span class="quiz__total"></span></p>
        </div>
        <div class="quiz__body">
            <div class="quiz__body--header flex f-jc f-ac">
                <p>Question: <span class="quiz__body--question"></span></p>
            </div>
            <div class="quiz__body--container grid">
                <!-- TODO remove options afterwards -->
                <div class="options">
                    <p class="options__answer"><span class="letters">a&#46;</span> infor info </p>
                </div>
                <div class="options">
                    <p class="options__answer"><span class="letters">a&#46;</span> infor info </p>
                </div>
                <div class="options">
                    <p class="options__answer"><span class="letters">a&#46;</span> infor info </p>
                </div>
                <div class="options">
                    <p class="options__answer"><span class="letters">a&#46;</span> infor info </p>
                </div>
                <button id="next_question_btn">Next</button>
            </div>
        </div>
        <div class="quiz__footer">
            <button id="quit_quiz_btn">Quit</button>
        </div>
    </section>
</body>
</html>