<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- links -->
    <link rel="stylesheet" href="../CSS/index.css">
    <link rel="stylesheet" href="../CSS/section/header.css">
    <link rel="stylesheet" href="../CSS/section/selection.css">
    <!-- Scripts -->
    <script src="https://kit.fontawesome.com/267e7db5be.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="header header--dark header--light flex f-sb f-ac">
        <div class="header__nav flex f-ac">
            <h1 class="header__logo"><a href="">QuizBee</a></h1>
            <div class="header__menu flex f-c f-se f-ac">
                <span class="menu__bar"></span>
                <span class="menu__bar"></span>
                <span class="menu__bar"></span>
            </div>
            <nav class="nav">
                <div class="nav__links">
                    <a id="random__btn" href="">Random</a>
                    <a id="create__btn" href="">Create</a>
                    <a id="explore__btn" href="">Explore</a>
                </div>
            </nav>
        </div>
        <div class="header__account flex f-jc f-ac">
            <i class="fas fa-user fa-2x"></i>
        </div>
    </header>

    <section class="selection grid">
        <form class="selection__form grid" action="">
            <label id="num_of_questions" for="number_of_questions__input">
                <p class="number_of_questions__label selection__labels">Number of Questions</p>
                <input id="number_of_questions__input" type="text">
            </label>
            <label id="difficulty" for="difficulty__input">
                <p class="difficulty__label selection__labels">Difficulty</p>
                <input id=""difficulty__input type="text">
            </label>
            <label id="category" for="category__input">
                <p class="category__label selection__labels">Category</p>
                <input id="category__input" type="text">
            </label>
            <label id="type" for="type__input">
                <p class="type__label selection__labels">Type</p>
                <input id="type__input" type="text">
            </label>
            <input id="form_submit" class="selection__btn" type="submit" value="Begin">
        </form>
    </section>
</body>
</html>