#form_submit{
    background: hsl(148, 62%, 64%);
    border: none; 
    border-radius: 5px;
    bottom: -10%;
    cursor: pointer;
    font-size: clamp(1rem, 1vw, 1.5rem);
    font-weight: bold;
    height: 40px;
    left: 50%; 
    position: absolute;
    text-transform: uppercase;
    transform: translateX(-50%);
    width: min(50vw, 250px);
}

#form_submit:hover{
    background: hsl(148, 72%, 44%);
    box-shadow: 0px 15px 5px rgba(0, 0, 0, 0.25);
}

/* Display quiz html buttons */
/* todo add bg color to button */
#next_question_btn{
    background: hsl(201, 51%, 69%);
    border: none; 
    border-radius: 5px;
    bottom: 2%;
    font-weight: bold;
    height: 30px;
    position: absolute;
    right: 0.75rem;  
    text-transform: uppercase; 
    width: 100px;
}

#next_question_btn:hover{
    background: hsl(201, 51%, 60%);
}

/* todo add bg color */
#quit_quiz_btn{
    background: hsl(34, 6%, 24%);
    border: none; 
    border-radius: 5px;
    color: white;
    bottom: 2%;
    font-weight: bold;
    height: 30px;
    position: absolute;
    right: 125px;
    text-transform: uppercase;
    width: 100px;
}

#quit_quiz_btn:hover{
    background: hsl(34, 6%, 30%);
}

#restart_quiz_btn{
    background: hsl(285, 10%, 72%);
    border: none;
    border-radius: 5px; 
    cursor: pointer;
    font-weight: 600;
    margin-right: 1rem; 
    padding: 0.5rem 1rem;
    text-transform: uppercase; 
    width: max-content; 
}

#restart_quiz_btn:hover{
    background: hsl(285, 10%, 77%);
}

#view_results_btn{
    background: hsl(285, 10%, 72%);
    border: none;
    border-radius: 5px; 
    cursor: pointer;
    font-weight: 600;
    padding: 0.5rem 1rem;  
    text-transform: uppercase; 
    width: max-content; 
}

#view_results_btn:hover{
    background: hsl(285, 10%, 77%);
}

#hide_results_btn{
    display: none; 
    background: hsl(285, 10%, 72%);
    border: none;
    border-radius: 5px; 
    cursor: pointer;
    font-weight: 600;
    padding: 0.5rem 1rem;  
    text-transform: uppercase; 
    width: max-content; 
}

#hide_results_btn:hover{
    background: hsl(285, 10%, 77%);
}

#to_top_btn{
    background: hsl(212, 14%, 19%);
    color: white; 
    cursor: pointer;
    height: min(8vw, 50px);
    min-height: 35px;
    min-width: 35px;
    padding: 1rem;
    position: absolute;
    width: min(8vw,50px);
}

#to_top_btn:hover{
    background: hsl(212, 14%, 19%);
}

#to_top_btn p{
    font-size: clamp(1.75rem, 5vw, 2.5rem);
}