.explore{
    height: 200px;
    margin: 0rem 1.5rem; 
    outline: 1px solid black;
}

.explore__header a{
    color: white; 
    text-decoration: none;
}

.explore__container{
    position: relative;
    outline: 1px solid gray; 
}

.explore__back{
    position: absolute;
}

.explore__forward{
    position: absolute;
}