:root{
    --btn-bg: white; 
    --btn-font: 30px; 
    --btn-width: 30px; 

}

.explore{
    height: 200px;
    margin: 0rem 1.5rem; 
    outline: 1px solid black;
}

.explore__header a{
    color: white; 
    text-decoration: none;
}

.explore__container{
    height: 150px;
    position: relative;
    outline: 1px solid gray; 
}

.explore__back{
    background: var(--btn-bg);
    font-size: var(--btn-font);
    width: var(--btn-width);
    height: inherit;
    left: 0%; 
    position: absolute;
}

.explore__forward{
    background: var(--btn-bg);
    font-size: var(--btn-font);    
    width: var(--btn-width);
    height: inherit;
    right: 0%;
    position: absolute;
}