:root{
    --btn-bg: white; 
    --btn-font: 30px; 
    --btn-width: 30px; 
}

.explore{
    height: 200px;
    margin-inline: min(7vw, 15rem); 
    /* outline: 1px solid black; */
}

.explore__header{
    margin-bottom: 1rem;
}

.explore__header a{
    color: white; 
    text-decoration: none;
}

.explore__container{
    background: hsl(215, 41%, 15%);
    height: 150px;
    padding: 1rem 0rem 10rem 2.4rem; 
    position: relative;
    /* outline: 1px solid gray;  */
    overflow: hidden;
}

.explore__back{
    background: var(--btn-bg);
    border-radius: 5px;    
    cursor: pointer;
    font-size: var(--btn-font);
    width: var(--btn-width);
    height: inherit;
    left: 0%; 
    position: absolute;
}

.explore__forward{
    background: var(--btn-bg);
    border-radius: 5px;
    cursor: pointer;
    font-size: var(--btn-font);    
    width: var(--btn-width);
    height: inherit;
    right: 0%;
    position: absolute;
}

.explore__item{
    background: hsl(5, 95%, 77%);
    border-radius: 5px; 
    cursor: pointer;
    flex-shrink: 0;
    height: inherit;
    margin-right: 0.5rem;  
    padding: 1rem; 
    width: 150px; 
}

.explore__item--header{
    font-size: 1.5rem;
    text-align: center;
}