:root{
    --header-bgDark: hsl(215, 41%, 15%);
}
.header{
    height: min(15vh, 75px);
    padding: 0rem 2rem; 
    width: 100%;
}

.header--dark{
    background: var(--header-bgDark);
    color: white; 
}

.header__logo{
    padding-right: 1rem; 
}

.header__logo a{
    color: white; 
    text-decoration: none;
}

.header__menu{
    background: white;
    height: 30px;
    width: 30px;
}

.menu__bar{
    background: black;
    height: 5px;
    width: 25px;
}

.nav__links a{
    color: white; 
    margin: 0rem 0.5rem;
    padding: 0.75rem;
    text-decoration: none; 
}
