:root{
    --header-bgDark: hsl(215, 41%, 15%);
}
.header{
    height: min(15vh, 75px);
    padding: 0rem 2rem; 
    width: 100%;
}

.header--dark{
    background: var(--header-bgDark);
    color: white; 
}

.header__logo{
    padding-right: 1rem; 
}

.header__logo a{
    color: white; 
    text-decoration: none;
}

.header__menu{
    display: none;
    background: white;
    height: 30px;
    width: 35px;
}

.menu__bar{
    background: black;
    height: 5px;
    width: 27px;
}

.nav__links a{
    color: white; 
    margin: 0rem 0.5rem;
    padding: 0.75rem;
    text-decoration: none; 
}

.fa-user{
    background: white;
    border-radius: 50%;
    color: var(--header-bgDark); 
    height: 50px;
    width: 50px;
}