hr.preview__hr{
    border: 1px solid hsla(100, 0%, 0%, 12%); 
    margin-bottom: 1rem; 
}
.preview_results{
    margin-top: 1rem;
    padding-top: 1rem;  
}

.preview__wrapper{
    padding: 1rem; 
    outline: 1px solid black; 
    max-width: 600px; 
}

.preview__quiz{
    background: lightblue;
    padding: 1rem; 
    margin: 1rem 0rem; 
}

.question{
    font-size: clamp(1.15rem, 1.3vw, 1.5rem);
}