hr.preview__hr{
    border: 1px solid hsla(100, 0%, 0%, 12%); 
    margin-bottom: 1rem; 
}
.preview_results{
    margin-top: 1rem;
    padding-top: 1rem;  
}

.preview__wrapper{
    padding: 1rem; 
    border-left: 1px solid hsla(0, 0%, 0%, 0.250);
    border-right: 1px solid hsla(0, 0%, 0%, 0.250);  
    max-width: 600px; 
}

.preview__quiz{
    background: lightblue;
    border: 1px solid black; 
    border-radius: 5px;
    padding: 1rem; 
    margin: 1rem 0rem; 
}

.question{
    font-size: clamp(1.15rem, 1.3vw, 1.5rem);
}

.question::after{
    content: '';
    background: green;
    display: block;
    height: 2px;
    margin-top: 0.5rem; 
    margin-bottom: 0.75rem; 
    width: 25%;
}

.finished__option{
    border-radius: 5px;;
    border: 1px solid black; 
    padding: 0.75rem 1rem; 
    margin: 1rem 0rem; 
}

.finished__answer{
    font-size: clamp(1.1rem, 1vw, 1.35rem);
}

.preview__correct::before{
    content: '';
    background: green;
    display: block;
    height: 2px;
    margin-bottom: 0.5rem;
    width: 25%; 
}

.preview__correct{
    padding: 0.75rem 0rem; 
}

.is__correct{
    font-size: clamp(1.1rem, 1vw, 1.25rem);
}

.correct{
    background: hsl(120, 40%, 50%);
}

.incorrect{
    background: hsl(0, 70%, 65%);
}