.quiz{
    width: 100%; 
}
.quiz__header{
    /* background: hsl(246, 17%, 30%); */
    border-bottom: 2px solid black;
    min-height: min(100px, 10vh);  
    width: 100%;
}

.quiz__header p{
    color: white; 
    font-size: clamp(1.35rem, 2.5vw, 1.75rem);
}

.quiz__body{
    position: relative;
    margin: 2rem 0rem;
    min-height: 400px;
    max-width: 1000px;
    width: 100%;
}

.quiz__body--header{
    border-radius: 5px 5px 0px 0px;
    min-height: 100px;
    width: 100%; 
    /* outline: 1px solid black; */
}
.quiz__body--header p{
    color: white; 
    font-size: clamp(1.5rem, 3vw, 2.2rem);
}

.quiz__body--container{
    border-radius: 0px 0px 5px 5px;
    outline: 1px solid black;
    width: 100%;
}

.options{
    border-radius: 5px;
    color: white; 
    margin: 1rem 0.75rem; 
    padding: 1rem; 
    outline: 1px solid white;
}

.options:last-of-type{
    margin-bottom: 4rem;
}