.quiz{
    width: 100%; 
}
.quiz__header{
    border-bottom: 2px solid black;
    min-height: min(100px, 10vh);  
    width: 100%;
}

.quiz__header p{
    color: black; 
    font-size: clamp(1.35rem, 2.5vw, 1.75rem);
}

.quiz__body{
    background: hsl(122, 63%, 92%);
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;  
    border-radius: 5px;
    position: relative;
    margin: 2rem 0rem;
    min-height: 400px;
    max-width: 1000px;
    width: 100%;
    
}

.quiz__body--header{
    background: hsl(122, 60%, 85%);
    border-top: 1px solid black; 
    border-bottom: 1px solid black; 
    border-radius: 5px 5px 0px 0px;
    min-height: 85px;
    text-align: center;
    width: 100%; 
    /* outline: 1px solid black; */
}
.quiz__body--header p{
    color: black; 
    font-size: clamp(1.5rem, 3vw, 2.2rem);
}

.quiz__body--container{
    width: 100%;
}

.options{
    border-radius: 5px;
    color: black; 
    cursor: pointer;
    margin: 1rem 0.75rem; 
    padding: 1rem; 
    outline: 1px solid black;
}

.options:hover{
    background: hsl(122, 60%, 80%);
    box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.25);
}

.active-option{
    background: hsl(122, 60%, 75%) ;
}

.active-option:hover{
    background: hsl(122, 55%, 85%);
}

.options:last-of-type{
    margin-bottom: 4rem;
}

.radio__btn{
    position: absolute;
    opacity: 0;
}

.radio__btn:checked ~ .options{
    background: green;
}

.letter{
    font-size: 1.2rem;
    padding-right: 1rem;
}

.options_answer{
    line-height: 1.4rem;
}