.quiz{
    margin: 4rem 0rem;
    width: 100%;
}
.quiz__header{
    /* background: hsl(246, 17%, 30%); */
    height: min(100px, 20vh); 
    width: 100%;
    outline: 1px solid black;
}

.quiz__header p{
    color: white; 
    font-size: clamp(1.35rem, 3vw, 1.75rem);
}

.quiz__body{
    position: relative;
    margin: 2rem 0rem;
    min-height: 400px;
    max-width: 1000px;
    width: 100%;
}

.quiz__body--header{
    height: 100px;
    width: 100%; 
    outline: 1px solid black;
}
.quiz__body--header p{
    color: white; 
    font-size: clamp(1.35rem, 3vw, 2rem);
}

.quiz__body--container{
    outline: 1px solid black;
    width: 100%;
}

.options{
    color: white; 
    margin: 1rem 0.75rem; 
    padding: 1rem; 
    outline: 1px solid white;
}

.options:last-of-type{
    margin-bottom: 4rem;
}