.result{
    position: relative;
    width: 100%;
}

.result__title{
    font-size: 2.5rem;
    padding: 2rem 0rem;
    text-align: center;
}

.result__wrapper{
    position: relative;
    outline: 1px solid black;
}

.result__header{
    background: hsl(122, 60%, 85%);
    font-size: clamp(1.35rem, 2vw, 1.75rem);
    padding: 1rem 0rem; 
    text-align: center;
}

.result__quote{
    font-size: clamp(1.35rem, 1vw, 1.75rem);
    padding: 1rem 0rem; 
}