.result{
    position: relative;
    width: 100%;
}

.result__title{
    font-size: 2.5rem;
    padding: 2rem 0rem;
    text-align: center;
}

.result__wrapper{
    position: relative;
}


.result__header{
    background: hsl(122, 60%, 85%);
    border: 1px ridge black; 
    border-radius: 7px 7px 0px 0px;
    font-size: clamp(1.35rem, 2vw, 1.75rem);
    padding: 1rem 0rem; 
    text-align: center;
}

.result__body{
    border-left: 1px ridge black; 
    border-right: 1px ridge black; 
    padding: 1rem 0rem; 
}

.result__quote{
    font-size: clamp(1.35rem, 1vw, 1.75rem);
    padding: 1rem 0rem; 
}

.progress progress{
    background: white;
    border: 1px solid gray;
    border-radius: 10px;
    margin-top: 10px;
    width: 75%; 
}

progress::after{
    content: 'hello';
}

progress::-webkit-progress-value, progress::-moz-progress-bar{
    background:hsl(122, 60%, 85%);
    border-radius: 20px;
}

.result__footer{
    border: 1px ridge black; 
    border-top: none; 
    border-radius: 0px 0px 7px 7px;
}