.selection{
    height: max(200px, 30vh); 
    place-items: center;
    width: 100%;
}

.selection__form{
    grid-template-rows: repeat(auto-fit, minmax(50px, 1fr));
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem; 
}