.selection{
    margin: 1rem 5rem;
}

.selection__form{
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: 1fr; 
    gap: 2rem; 
}

.selection__labels{
    color: white; 
    font-size: clamp(1rem, 3vw, 1.4rem);
}