@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

:root{
  --body-bg: hsl(81, 28%, 90%);
}

*, ::before, ::after{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px; 
}

body{
    background: var(--body-bg);
    font-family: 'Roboto', monospace, sans-serif;
}

img{
    max-width: 100%;
}

.flex{
    display: flex; 
}

.f-c{
    flex-direction: column;
}

.f-jc{
    justify-content: center;
}

.f-sb{
    justify-content: space-between;
}

.f-se{
    justify-content: space-evenly;
}

.f-ac{
    align-items: center;
}

.grid{
    display: grid; 
}

.loader__wrapper{
    background: beige;
    inset: 0; 
    position: absolute;
}

.fa-spinner{
    position: relative;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    animation: spin 1.5s infinite ease;
}

.visible{
    visibility: visible;
    opacity: 1;
}

.hidden{
    visibility: hidden;
    opacity: 0;
}

@keyframes spin{
    from{
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}