@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

:root{
  --body-bg: hsl(214, 32%, 20%);
}

*, ::before, ::after{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px; 
}

body{
    background: var(--body-bg);
    font-family: 'Roboto', monospace, sans-serif;
}

.flex{
    display: flex; 
}

.f-c{
    flex-direction: column;
}

.f-jc{
    justify-content: center;
}

.f-sb{
    justify-content: space-between;
}

.f-se{
    justify-content: space-evenly;
}

.f-ac{
    align-items: center;
}

.grid{
    display: grid; 
}