*, ::before, ::after{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px; 
}

.flex{
    display: flex; 
}

.f-c{
    flex-direction: column;
}

.f-jc{
    justify-content: center;
}

.f-sb{
    justify-content: space-between;
}

.f-ac{
    align-items: center;
}
